<head>
  <title>zabc pikbuk</title>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="preload" href="/uvophs/u5cdot.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/uvophs/u5cdot.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="/uvophs/ssu5p.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/uvophs/ssu5p.woff" as="font" type="font/woff" crossorigin>
</head>

<body>
  <div id="app"></div>
</body>
