body { font-family: u5cdot; font-size: 14px;
    background-color: #315481; background-attachment: fixed;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 0; margin: 0;
}
button { font-weight: bold; font-size: 1em;
    border: none; color: white; box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4); padding: 5px; cursor: pointer;
}
button:focus { outline: 0; }
.app { display: flex; flex-direction: column; height: 100vh; }
.app-header { flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.main { display: flex; flex-direction: column; flex-grow: 1; overflow: auto; background: white; }
.main::-webkit-scrollbar { width: 0; height: 0; background: inherit; }
header { background: #d2edf4; background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 2px 2px 2px 2px; position: relative; box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}
/* .app-bar { display: flex; justify-content: space-between; } */
.app-bar h1 { font-size: 20px; margin: 0 1px 0 0; display: inline-block; }
.task-form { display: flex; margin: 16px; }
.task-form > input {
    flex-grow: 1; box-sizing: border-box; padding: 10px 6px; background: transparent;
    border: 1px solid #aaa; width: 100%; font-size: 1em; margin-right: 16px;
}
.task-form > input:focus { outline: 0; }
.task-form > button { min-width: 100px; height: 95%; background-color: #315481; }
.tasks { list-style-type: none; padding-inline-start: 0; padding-left: 16px; padding-right: 16px; margin-block-start: 0; margin-block-end: 0; }
.task { display: flex; padding: 16px; border-bottom: #eee solid 1px; }
.task > span { flex-grow: 1; }
.task > button { justify-self: flex-end; background-color: #ff3046; }
.filter { display: flex; justify-content: center; }
.filter > button { background-color: #62807e; }
.login-form { display: flex; flex-direction: column; height: 100%; justify-content: center; align-items: center; }
.login-form > div { margin: 8px; }
.login-form > div > label { font-weight: bold; }
.login-form > div  > input { flex-grow: 1; box-sizing: border-box; padding: 10px 6px; background: transparent; border: 1px solid #aaa;
    width: 100%; font-size: 1em; margin-right: 16px; margin-top: 4px;
}
.login-form > div > input:focus { outline: 0; }
.login-form > div > button { background-color: #62807e; }
.user { display: flex; cursor: pointer; align-self: flex-end; margin: 8px 16px 0; font-weight: bold; }
.loading { display: flex; flex-direction: column; height: 100%; justify-content: center; align-items: center; font-weight: bold; }
.btn_zkv { width:100%; height:100%; }
