<template name="register">
    <h2>register</h2>
    <form class="register">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="register"></p>
    </form>
</template>

<script>
import { Meteor } from 'meteor/meteor';
export default {
  name: "LoginForm",
  data() { return { username: "", password: "" }; },
  methods: {
    handleSubmit(event) { Meteor.loginWithPassword(this.username, this.password); }
  },
}
</script>

////////////////////

<template>
  <h2>register</h2>
  <form class="register" @submit.prevent="handle_register">
      <p>email: <input type="email" name="email"></p>
      <p>pasvrd: <input type="password" name="password"></p>
      <p><input type="submit" value="register"></p>
  </form>
</template>
<script>
import { Meteor } from 'meteor/meteor';
export default {
  name: "register",
  data() { return { email: "", password: "" }; },
  methods: {
    handle_register(event) { Meteor.loginWithPassword(this.username, this.password); }
  },
}
</script>
