@font-face {
    font-family: 'u5';
    src: url('uvophs/u5.woff2') format('woff2'), url('uvophs/u5.woff') format('woff');
}
@font-face {
    font-family: 'u5c';
    src: url('uvophs/u5c.woff2') format('woff2'), url('uvophs/u5c.woff') format('woff');
}
@font-face {
    font-family: 'u5cdot';
    src: url('uvophs/u5cdot.woff2') format('woff2'), url('uvophs/u5cdot.woff') format('woff');
}
@font-face {
    font-family: 'u5hp';
    src:url('uvophs/u5hp.woff2') format('woff2'), url('uvophs/u5hp.woff') format('woff');
}
@font-face {
    font-family: 'u8';
    src:url('uvophs/u8.woff2') format('woff2'), url('uvophs/u8.woff') format('woff');
}
@font-face {
    font-family: 'u8v';
    src: url('uvophs/u8v.woff2') format('woff2'), url('uvophs/u8v.woff') format('woff');
}
@font-face {
    font-family: 'u8z';
    src: url('uvophs/u8z.woff2') format('woff2'), url('uvophs/u8z.woff') format('woff');
}
@font-face {
    font-family: 'u8zf';
    src: url('uvophs/u8zf.woff2') format('woff2'), url('uvophs/u8zf.woff') format('woff');
}
@font-face {
    font-family: 'binary_horizontal_u5c2';
    src: url('uvophs/binary_horizontal_u5c2.woff2') format('woff2'), url('uvophs/binary_horizontal_u5c2.woff') format('woff');
}
@font-face {
    font-family: 'binary_horizontal_u5hp2';
    src: url('uvophs/binary_horizontal_u5hp2.woff2') format('woff2'), url('uvophs/binary_horizontal_u5hp2.woff') format('woff');
}
@font-face {
    font-family: 'binary_horizontal_u82';
    src: url('uvophs/binary_horizontal_u82.woff2') format('woff2'), url('uvophs/binary_horizontal_u82.woff') format('woff');
}
@font-face {
    font-family: 'binary_vertical_u5c2';
    src: url('uvophs/binary_vertical_u5c2.woff2') format('woff2'), url('uvophs/binary_vertical_u5c2.woff') format('woff');
}
@font-face {
    font-family: 'binary_vertical_u5hp2';
    src: url('uvophs/binary_vertical_u5hp2.woff2') format('woff2'), url('uvophs/binary_vertical_u5hp2.woff') format('woff');
}
@font-face {
    font-family: 'binary_vertical_u82';
    src: url('uvophs/binary_vertical_u82.woff2') format('woff2'), url('uvophs/binary_vertical_u82.woff') format('woff');
}
@font-face {
    font-family: 'ssu5p';
    src: url('uvophs/ssu5p.woff2') format('woff2'), url('uvophs/ssu5p.woff') format('woff');
}
